<%= form_for @checkout do |f| %>
	<%= f.hidden_field :book_id %>
  <% if @book.checkedout? %>
    <% if current_user != nil &&  current_user.admin_status == true%>
      <%= link_to checkout_path(@checkout), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <button type="submit" class="buttons">Return Book to Library</button>
        <% end %>
    <% else %>
      <p>Sorry, this book is already checked out.. <i class="fa fa-meh-o"></i></p>
    <% end %>
  <% else %>
	 <%= f.submit 'Check Out Book' %>
  <% end %>
<% end %>

