/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  font-family: 'PT Sans', sans-serif;
 }
html, 
body {
  height: 100%;
  background: #EEEEEE;
}
ul {
  list-style: none;
  padding-left: 15px;
}
ul.new-user-create li {
  display: inline-block;
  padding-top: 10px;
  padding-left: 2px;
}
.user-sign-up-btn{
  margin-top: 15px;
}
.line {
  width: 100%;
  height: 2px;
  background: gray;
  margin-top: 20px;
}
.fa-book:before {
  color: #00D2F8;
  position: relative;
  top: 15px;
  left: -170px;
  font-size: 2em;
}
.alerts {
  color: white;
  height: 100%;
  margin: 15px;
  text-align: right;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid gray;
}
.h3, h3 {
  font-weight: bold;
}
.col-md-2 {
  text-align: left;
}
.link-placement{
  margin-top: 10px;
  text-align: center;
}
.container.create-user-forms {
  margin-top: 27px;
}
div.no-bottom {
  margin-bottom: 0;
}
.show-books.container {
  margin-top: 50px;
}
img {
  height: 160px;
  border-radius: 5px;
}
button.buttons, 
input[type="submit"] {
  border-radius: 5px;
  padding: 6px 20px;
  color: white;
  background: #00D2F8;
  margin: 0 2px;
  border: none;
}
button:hover, 
input[type="submit"]:hover {
  background: #97DCE8;
}
button.show-book-btn {
  margin-top: 7px;
}
.back-edit-user {
  text-align: right;
  margin-left: 15px;
}
.edit-form {
  margin-top: 30px;
}
.bottom-links {
  margin-top: 10px;
}
.bottom-links.new-back.col-md-1 {
  text-align: center;
}
.center-btn {
  text-align: center;
  margin-top: 25px;
}
button.buttons.add-new-btn {
  width: 50%;
  height: 40px;
}
.navbar-brand#our-logo {
  color: white;
}
.navbar-brand#our-logo:hover {
  color: #9d9d9d;
}
textarea#book_description {
  height: 150px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea#book_description {
  width: 50%;
  border-radius: 5px;
  border: 2px inset;
}
@media screen and (max-width: 1000px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea#book_description {
    width: 90%;
  }
}
@media screen and (max-width: 990px) {
  p.swing-image {
    text-align: left;
  }
}
@media screen and (max-width: 800px) {
  .fa-book:before {
      display: none;
  }
  input[type="email"],
  input[type="password"],
  input[type="text"],
  textarea#book_description {
    width: 100%;
  }
}






















